.starability-result {
  position: relative;
  width: 150px;
  height: 30px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAMAAABGivqtAAAA...");
  font-size: 0.1em;
  color: transparent;
}

.starability-result:after {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAMAAABGivqtAAAA...");
  background-position: 0 -30px;
}

.starability-result[data-rating="5"]::after { width: 150px; }
.starability-result[data-rating="4"]::after { width: 120px; }
.starability-result[data-rating="3"]::after { width: 90px; }
.starability-result[data-rating="2"]::after { width: 60px; }
.starability-result[data-rating="1"]::after { width: 30px; }
